body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #dddddd;
    padding: 40px 0;
    display: flex;
    align-items: center;
    position: relative;
}

nav .logo {
    position: absolute;
    left: 20px;
}

nav .logo img {
    height: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 1.1em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #d1d1d1;
    color: black;
}

#content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 1.0em;
    color: #555;
    text-align: center;
}

footer div {
    margin: 5px 0;
}

footer a {
    color: #555;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.carousel-inner img {
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: 0 auto;
}

.custom-btn {
    background-color: #cc071e;
    border-color: #cc071e;
    color: white;
    padding: 10px 20px;
    font-size: 1.1em;
}

.custom-btn:hover {
    background-color: #cc071e;
    border-color: #cc071e;
    color: white;
}

#about-experience {
    padding: 20px;
    font-size: 1.1em;
    color: black;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

#about-experience p {
    margin-bottom: 20px;
}

#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px 20px;
    background-color: white;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.rec-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.rec-image {
    width: 250px;
    height: 250px;
    margin: 0 20px;
}

.rec-text {
    font-size: 25px;
    flex-grow: 1;
    text-align: center;
}